/* Reset margins, padding, and set box-sizing */
body {
  font-family: "Open Sans", sans-serif;
  max-width: 900px;margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#logo {
  margin: 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  gap: 25px;
}
.navigation-item {
  cursor: pointer;
}